/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.asteroid {
  /*background-color:black;*/
  width: 100%;
  height: 100px;
  background-image: url('asteroid.png');
  background-repeat: no-repeat;
}


/*
.draggable {
  cursor: move;
}*/